.header{
    display: flex;
    flex-direction: column;
}
.header>div{
    border: 1px solid var(--border-ash);
}
.header>div:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: none;
}
.sheetHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    gap: 0.1rem;
}
.sheetHead>div{
    background: #d9ff00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sheetHead h1{
    font-weight: 700;
    font-size: 0.8rem;
    color: var(--dark-color);
}
.sheetHead h2{
    font-size: 0.7rem;
    color: var(--gray-color);
}

/* student info */
.studentInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.7rem;
}
.studentInfo>div{
    background: #330606;
    width: 50px;
    height: 50px;
}
.studentInfo>ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--dark-color);
    gap: 0.3rem;
    margin-right: 10%;
}
.studentInfo li{
    display: flex;
    align-items: center;
}
.studentInfo>ul>li span{
    display: inline-block;
    width: 6rem;
    height: 0.7rem;
    background: #000000;
}

@media (max-width:500px) {
    .studentInfo>ul{
        margin-right: 0;
    }
    .sheetHead h2{
        padding: 0 2rem;
        text-align: center;
    }
}