@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0 0.7rem;
  padding-bottom: 3rem;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
ul{
  list-style-type: none;
}
:root {
  --gray-color: #858585;
  --dark-color: #3c3c3c;
  --border-ash: #dadada;
}
